main {
  margin: 0;
  overflow: hidden;
}
.slideshow-container {
  display: flex;
}

.img1 {
  margin: 0;
  padding: 0;
  height: auto;
  width: 80vw;
  animation: slide1 10s infinite linear;
}
@keyframes slide1 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

