::-webkit-scrollbar {
    width: 1px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #132ba2;
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
}

/* Change thumb color on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
main {
  margin: 0;
  overflow: hidden;
}
.slideshow-container {
  display: flex;
}

.img1 {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: auto;
  width: 100vw;
  animation: slide1 10s infinite linear;
}

@keyframes slide1 {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

